* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}

header {
  padding: 20px 40px;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

header ul li {
  margin-right: 40px;
}

header ul li a {
  font-size: 1.8rem;
}

header ul li a.act-link {
  font-weight: bold;
}

header .buttons {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* CSS */
header .buttons .button {
  padding: 10px 24px;
  background: #1d1d1d;
  font-size: 1.6rem;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 25px;
  color: #fafafa;
}

header .buttons .button#no-background {
  background: transparent;
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
}

body {
  height: auto;
  background: #fafafa;
}
