* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}

/* Fonts */

@font-face {
  font-family: 'BIZUDPMincho';
  src: url('./fonts/BIZUDPMincho-Regular.ttf') format('truetype');
}

/* Header */
header {
  position: absolute;
  padding: 20px 40px;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

header ul li {
  margin-right: 40px;
}

header ul li a {
  font-size: 1.6rem;
}

header ul li a.act-link {
  font-weight: bold;
}

header .buttons {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* CSS */
header .buttons .button {
  padding: 10px 24px;
  background: #1d1d1d;
  font-size: 1.6rem;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 25px;
  color: #fafafa;
}

header .buttons .button#no-background {
  background: transparent;
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
  transition: .3s ease;
}

header .buttons .button#no-background:hover {
  background: #1d1d1d;
  color: #fafafa;
}

/* Banner */
.main-banner {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: flex-start;
}

.main-banner .headline {
  margin: 0 120px;
  max-width: 628px;
}

.main-banner .headline h1 {
  margin-bottom: 2rem;
}

.main-banner .buttons-headline {
  margin-top: 2rem
}

.main-banner .buttons-headline .button {
  padding: 10px 24px;
  background: #1d1d1d;
  font-size: 1.6rem;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 25px;
  color: #fafafa;
}

.main-banner .buttons-headline .button#no-background {
  background: transparent;
  color: #1d1d1d;
  border: 2px solid #1d1d1d;
  transition: .3s ease;
}

.image-cover {
  padding: 40px;
}

body {
  position: relative;
  height: auto;
  background: #fafafa;
  font-family: 'BIZUDPMincho';
}
